h1 {
    color:#4d88ff;}
body {
    background-color:#ffffcc;}
img {
    width:200px;}
h2 {
    color:#4d88ff;}
p {
    color:#cc66ff;}
h1 {
    font-family: 'Charmonman', cursive;}
h2 {
    font-family: 'Amatic SC', cursive;}
p {
    font-family: 'Permanent Marker', cursive;}
h1 {
    font-size:35px;}
p {
    font-size:20px;}
h2 {
    font-size:30px;}